<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdn.socket.io/3.0.5/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="../js/main.js"></script>
    <title>Dr Salmani | cases</title>
</head>

<body>

    <header></header>
    <main class="centered">
        <div class="topnav">
            <a href="home">ثبت پرونده</a>
            <a class="active" href="cases">پرونده ها</a>
            <a href="petshop" target="_blank">پت شاپ</a>
        </div>

        <div class="w3-container w3-card-4 w3-light-grey" id="cases_table">
            <table class="search_table">
                <tr>
                    <td>
                        <label for="search">جستجو</label>
                    </td>
                    <td>
                        <input type="text" name="search" id="search" placeholder="شماره پرونده، نام..."
                            class="input w3-input w3-border w3-round-large">
                    </td>
                </tr>
            </table>
            <table class="search_table cases_table">
                <thead>
                    <th>شماره پرونده</th>
                    <th>نام و نام خانوادگی</th>
                    <th>نوع حیوان</th>
                    <th>سن</th>
                    <th>شماره تلفن</th>
                    <th>آدرس</th>
                    <th>ویرایش</th>
                    <th>ثبت پرونده</th>
                </thead>
                <tbody>
                    <tr>
                        <td name="99">99</td>
                        <td class="fname">محمد محمدی</td>
                        <td class="pet_type">سگ</td>
                        <td class="age">2 ماه</td>
                        <td class="tel">09378878173</td>
                        <td class="address">کرمانشاه</td>
                        <td style="text-align: center;">
                            <button type="button" class="w3-button w3-round-large w3-indigo" id="edit">ویرایش <i
                                    class='fas fa-user-edit'></i></button>
                        </td>
                        <td style="text-align: center;">
                            <button type="button" class="w3-button w3-round-large w3-green" <%- disabled %> >اضافه کردن
                                پرونده <i class='fas fa-user-plus'></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </main>

</body>

<script>
    $(document).ready(() => {
        $(function () {
            edit_user = (event, tr) => {

            }
        })
        $('#edit').click(() => {
            let tr = $(this).parent().parent()
            console.log(tr.find('td:eq(0)').text())
            $('#cases_table').append(`
            <div class="info">
                <table>
                    <tr>
                        <td>
                            <label for="fname" class="label">نام و نام خانوادگی:</label>
                        </td>
                        <td class="td-input">
                            <input type="text" id="fname" name="fname" class="input w3-input w3-border w3-round-large"
                                placeholder="نام و نام خانوادگی">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="pet_type" class="label">نوع حیوان:</label>
                        </td>
                        <td>
                            <div>
                                <input type="text" id="pet_type" class="input w3-input w3-border w3-round-large"
                                    name="pet_type" placeholder="نوع حیوان">
                            </div>
                        </td>
                        <td>
                            <label for="age" class="label">سن:</label>
                        </td>
                        <td class="td-input">
                            <input type="text" class="input w3-input w3-border w3-round-large" id="age" name="age"
                                placeholder="سن">
                        </td>
                        <td>
                            <label for="gender" class="label">جنس:</label>
                        </td>
                        <td>
                            <label for="male">نر</label>
                            <input type="radio" name="gender" id="male" value="نر" class="w3-radio">
                        </td>
                        <td>
                            <label for="female">ماده</label>
                            <input type="radio" name="gender" id="female" value="ماده" class="w3-radio">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="address" class="label">آدرس:</label>
                        </td>
                        <td>
                            <input type="text" class="input w3-input w3-border w3-round-large" id="address"
                                name="address" placeholder="آدرس">
                        </td>
                        <td>
                            <label for="tel" class="label">شماره تلفن:</label>
                        </td>
                        <td>
                            <input type="text" class="input w3-input w3-border w3-round-large" id="tel" name="tel"
                                placeholder="شماره تلفن">
                        </td>
                    </tr>
                </table>
            </div>
            
            `)
        })
    })
</script>

</html>