<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css">
    <script src="https://cdn.socket.io/3.0.5/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../css/persianDatepicker-default.css" />
    <script type="text/javascript" src="../js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="../js/persianDatepicker.min.js"></script>
    <title>Dr Salmani</title>
</head>

<body>

    <header class="sidenav">

        <button type="button" class="w3-bar-item w3-button w3-teal w3-round-large w3-hover-blue" id="lastCaseNum" disabled>شماره پرونده جدید</button>
    </header>

    <main class="centered dr-info">

        <div class="w3-container w3-card-4 w3-light-grey">

            <div class="container">
                <table>
                    <tr>
                        <td>
                            <label for="fname" class="label">نام و نام خانوادگی:</label>
                        </td>
                        <td class="td-input">
                            <input type="text" id="fname" name="fname" class="input w3-input w3-border w3-round-large"
                                placeholder="-" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="pet_type" class="label">نوع حیوان:</label>
                        </td>
                        <td class="autocomplete">
                            <div class="autocomplete">
                                <input type="text" id="pet_type" class="input w3-input w3-border w3-round-large"
                                    name="pet_type" placeholder="-" readonly>
                            </div>
                        </td>
                        <td>
                            <label for="age" class="label">سن:</label>
                        </td>
                        <td class="td-input">
                            <input type="text" class="input w3-input w3-border w3-round-large" id="age" name="age"
                                placeholder="-" readonly>
                        </td>
                        <td>
                            <label for="gender" class="label">جنس:</label>
                        </td>
                        <td>
                            <input type="text" name="gender" id="gender" class="input w3-input w3-border w3-round-large"
                                placeholder="-" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="history" class="label">تاریخچه:</label>
                        </td>
                        <td>
                            <input class="input w3-input w3-border w3-round-large" id="history" name="history"
                                placeholder="-" readonly>
                        </td>
                        <td>
                            <label for="case" class="label">شکایت اصلی:</label>
                        </td>
                        <td>
                            <input type="text" class="input w3-input w3-border w3-round-large" id="case" name="case"
                                placeholder="-" readonly>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <form>
            <div class="w3-container w3-card-4 w3-light-grey diagnose container">
                <table>
                    <tr>
                        <td>
                            <label for="diagnose">تشخیص:</label>
                        </td>
                        <td style="width: 400px;">
                            <input type="text" class="input w3-input w3-border w3-round-large" id="diagnse" name="diagnose"
                                placeholder="تشخیص">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="treatment">درمان:</label>
                        </td>
                        <td style="width: 400px;">
                            <input type="text" class="input w3-input w3-border w3-round-large" id="treatment"
                                name="treatment" placeholder="درمان">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="next_date">تاریخ مراجعه بعدی:</label>
                        </td>
                        <td>
                            <input type="text" id="next_date" name="next_date" class="input w3-input w3-border w3-round-large" style="padding-right: 20px;">
                        </td>
                    </tr>
                </table>
            </div>
    
            <div class="w3-container w3-card-4 w3-light-grey diagnose container row">
                <div class="column">
                    <table class="search_table cases_table" >
                        <thead>
                            <tr>
                                <th>خدمات</th>
                                <th>تعرفه (تومان)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ویزیت</td>
                                <td>
                                    <input type="text" id="visit" class="input w3-input w3-border w3-round-large price"
                                        name="visit" placeholder="تعرفه">
                                </td>
                            </tr>
                            <tr>
                                <td>جراحی</td>
                                <td>
                                    <input type="text" class="input w3-input w3-border w3-round-large price"
                                        name="surgery" placeholder="تعرفه">
                                </td>
                            </tr>
                            <tr>
                                <td>تزریقات</td>
                                <td>
                                    <input type="text" class="input w3-input w3-border w3-round-large price"
                                        name="shot" placeholder="تعرفه">
                                </td>
                            </tr>
                            <tr>
                                <td>داروخانه</td>
                                <td>
                                    <input type="text" class="input w3-input w3-border w3-round-large price"
                                        name="drugstore" placeholder="تعرفه">
                                </td>
                            </tr>
                            <tr>
                                <td>رادیولوژی</td>
                                <td>
                                    <input type="text" class="input w3-input w3-border w3-round-large price"
                                        name="radiology" placeholder="تعرفه">
                                </td>
                            </tr>
                            <tr>
                                <td >سونوگرافی</td>
                                <td>
                                    <input type="text" class="input w3-input w3-border w3-round-large price"
                                        name="sonography" placeholder="تعرفه">
                                </td>
                            </tr>
                            <tr>
                                <td >جرمگیری</td>
                                <td>
                                    <input type="text" class="input w3-input w3-border w3-round-large price"
                                        name="plaque" placeholder="تعرفه">
                                </td>
                            </tr>
                            <tr>
                                <td >پانسیون</td>
                                <td>
                                    <input type="text" class="input w3-input w3-border w3-round-large price"
                                        name="pension" placeholder="تعرفه">
                                </td>
                            </tr>
                            <tr>
                                <td >تست اختصاصی</td>
                                <td>
                                    <input type="text" class="input w3-input w3-border w3-round-large price"
                                        name="spTest" placeholder="تعرفه">
                                </td>
                            </tr>
                            <tr>
                                <td >اصلاح</td>
                                <td>
                                    <input type="text" class="input w3-input w3-border w3-round-large price"
                                        name="shave" placeholder="تعرفه">
                                </td>
                            </tr>
                            <tr>
                                <td >آندوسکوپی</td>
                                <td>
                                    <input type="text" class="input w3-input w3-border w3-round-large price"
                                        name="endoscopy" placeholder="تعرفه">
                                </td>
                            </tr>
                            <tr>
                                <td >متفرقه</td>
                                <td>
                                    <input type="text" class="input w3-input w3-border w3-round-large price"
                                        name="odd" placeholder="تعرفه">
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><label for="total">جمع کل</label></td>
                                <td>
                                    <input type="text" id="total" style="text-align: center;" value="0" class="input w3-input w3-border w3-round-large total" readonly>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
                
                <div class="column">
                    <table class="search_table cases_table" id="drug_table">
                        <thead>
                            <th>
                                نام دارو
                            </th>
                            <th>
                                قیمت (تومان)
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" name="drug" class="input w3-input w3-border w3-round-large" placeholder="نام دارو">
                                </td>
                                <td>
                                    <input type="text" name="price" class="input w3-input w3-border w3-round-large" placeholder="قیمت">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" name="drug" class="input w3-input w3-border w3-round-large" placeholder="نام دارو">
                                </td>
                                <td>
                                    <input type="text" name="price" class="input w3-input w3-border w3-round-large" placeholder="قیمت">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" name="drug" class="input w3-input w3-border w3-round-large" placeholder="نام دارو">
                                </td>
                                <td>
                                    <input type="text" name="price" class="input w3-input w3-border w3-round-large" placeholder="قیمت">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" name="drug" class="input w3-input w3-border w3-round-large" placeholder="نام دارو">
                                </td>
                                <td>
                                    <input type="text" name="price" class="input w3-input w3-border w3-round-large" placeholder="قیمت">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" name="drug" class="input w3-input w3-border w3-round-large" placeholder="نام دارو">
                                </td>
                                <td>
                                    <input type="text" name="price" class="input w3-input w3-border w3-round-large" placeholder="قیمت">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" name="drug" class="input w3-input w3-border w3-round-large" placeholder="نام دارو">
                                </td>
                                <td>
                                    <input type="text" name="price" class="input w3-input w3-border w3-round-large" placeholder="قیمت">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" name="drug" class="input w3-input w3-border w3-round-large" placeholder="نام دارو">
                                </td>
                                <td>
                                    <input type="text" name="price" class="input w3-input w3-border w3-round-large" placeholder="قیمت">
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <button class="w3-bar-item w3-button w3-indigo w3-round-large" type="button" id="new_drug">داروی جدید</button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                
                <input id="sendSubmit" type="button" value="ثبت و ارسال اطلاعات" class="w3-button w3-round-large w3-green">
            </div>
        </form>
        

    </main>
    <footer></footer>

    <script type="text/javascript">

        var socket = io('http://192.168.1.105:3001')

        socket.on('connection')

        socket.on('sendDr', (data)=>{
            //alert(data)
            var dt = JSON.parse(data)
            document.getElementById('fname').value = dt.fname
        })
        var el = document.querySelector('input.price');
        el.addEventListener('keyup', function (event) {
        if (event.which >= 37 && event.which <= 40) return;

        this.value = this.value.replace(/\D/g, '')
                                .replace(/\B(?=(\d{3})+(?!\d))/g, ',');
        });


        $(document).ready(()=>{
            $('#lastCaseNum').click(()=>{
                $.ajax({
                    type: "POST",
                    url: 'http://192.168.1.105:3001/doctor/lastCaseNum',
                    dataType: "json",
                    success: (res, status)=>{
                        alert(res.lastCaseNum)
                    }

                })
            })

            $('input.price').keyup(function(event) {
                var total = 0

                // skip for arrow keys
                if(event.which >= 37 && event.which <= 40){
                event.preventDefault();
                }

                $(this).val(function(index, value) {
                    value = value.replace(/,/g,'');
                    return numberWithCommas(value);
                });
                $('input.price').each(function(i, obj) {
                    obj = obj.value.replace(/,/g, '')
                    total += Number(obj)
                })
                $('#total').val(numberWithCommas(total))
            });

            $('#total').bind('change paste keyup',function(event){
                // skip for arrow keys
                /*
                if(event.which >= 37 && event.which <= 40){
                event.preventDefault();
                }

                $(this).val(function(index, value) {
                    value = value.replace(/,/g,'');
                    return numberWithCommas(value);
                });
                */
               
            })

            function numberWithCommas(x) {
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            return parts.join(".");
            }

            $(function (){
                $('#next_date').persianDatepicker({
                    selectedBefore: !0,
                    formatDate: "YYYY/MM/DD"
                })
            })

            $('#sendSubmit').click(()=>{
                var temp = $('form').serializeArray()
                var data = [], j = 0
                for (let i = 0; i < temp.length; i++) {
                    if (temp[i].value == "") {
                        continue
                    }
                    else {
                        data[j] = temp[i] 
                        j++
                    }
                }
                socket.emit('confirmData', data)
            })

            $('#new_drug').click(()=>{
                $('#drug_table tbody').append(
                    `<tr>
                        <td>
                            <input type="text" name="drug" class="input w3-input w3-border w3-round-large" placeholder="نام دارو">
                        </td>
                        <td>
                            <input type="text" name="price" class="input w3-input w3-border w3-round-large" placeholder="قیمت">
                        </td>
                    </tr>
                    `
                )
            })

        })

    </script>
</body>

</html>