<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css">
    <script src="https://cdn.socket.io/3.0.5/socket.io.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <link type="text/css" rel="stylesheet" href="../css/persianDatepicker.css" />
    <script type="text/javascript" src="../js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="../js/persianDatepicker.min.js"></script>
    <title>Dr Salmani</title>
</head>

<body>

    <header class="sidenav">

        <button type="button" class="w3-bar-item w3-button w3-teal w3-round-large w3-hover-blue" id="lastCaseNum" disabled>شماره پرونده جدید</button>
    </header>

    <main class="centered dr-info">

        <div class="w3-container w3-card-4 w3-light-grey">

            <div class="container">
                <table>
                    <tr>
                        <td>
                            <label for="fname" class="label">نام و نام خانوادگی:</label>
                        </td>
                        <td class="td-input">
                            <input type="text" id="fname" name="fname" class="input w3-input w3-border w3-round-large"
                                placeholder="-" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="pet_type" class="label">نوع حیوان:</label>
                        </td>
                        <td class="autocomplete">
                            <div class="autocomplete">
                                <input type="text" id="pet_type" class="input w3-input w3-border w3-round-large"
                                    name="pet_type" placeholder="-" readonly>
                            </div>
                        </td>
                        <td>
                            <label for="age" class="label">سن:</label>
                        </td>
                        <td class="td-input">
                            <input type="text" class="input w3-input w3-border w3-round-large" id="age" name="age"
                                placeholder="-" readonly>
                        </td>
                        <td>
                            <label for="gender" class="label">جنس:</label>
                        </td>
                        <td>
                            <input type="text" name="gender" id="gender" class="input w3-input w3-border w3-round-large"
                                placeholder="-" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="history" class="label">تاریخچه:</label>
                        </td>
                        <td>
                            <input class="input w3-input w3-border w3-round-large" id="history" name="history"
                                placeholder="-" readonly>
                        </td>
                        <td>
                            <label for="case" class="label">شکایت اصلی:</label>
                        </td>
                        <td>
                            <input type="text" class="input w3-input w3-border w3-round-large" id="case" name="case"
                                placeholder="-" readonly>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="w3-container w3-card-4 w3-light-grey diagnose container">
            <table>
                <tr>
                    <td>
                        <label for="diagnose">تشخیص:</label>
                    </td>
                    <td style="width: 400px;">
                        <input type="text" class="input w3-input w3-border w3-round-large" id="diagnse" name="diagnose"
                            placeholder="تشخیص">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="treatment">درمان:</label>
                    </td>
                    <td style="width: 400px;">
                        <input type="text" class="input w3-input w3-border w3-round-large" id="treatment"
                            name="treatment" placeholder="درمان">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="next_date">تاریخ مراجعه بعدی:</label>
                    </td>
                    <td>
                        <input type="text" name="next_date" id="next_date" class="next_date">
                    </td>
                </tr>
            </table>
        </div>

        <div class="w3-container w3-card-4 w3-light-grey diagnose container">
            <table class="search_table cases_table" >
                <thead>
                    <tr>
                        <th>خدمات</th>
                        <th>تعرفه</th>
                        <th>دارو</th>
                        <th>قیمت</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ویزیت</td>
                        <td>
                            <input type="text" class="input w3-input w3-border w3-round-large"
                                name="visit" placeholder="تعرفه">
                        </td>
                        <td>
                            <input type="text" name="drug" class="input w3-input w3-border w3-round-large" placeholder="نام دارو">
                        </td>
                        <td>
                            <input type="text" name="price" class="input w3-input w3-border w3-round-large" placeholder="قیمت">
                        </td>
                    </tr>
                    <tr>
                        <td>جراحی</td>
                        <td>
                            <input type="text" class="input w3-input w3-border w3-round-large"
                                name="surgery" placeholder="تعرفه">
                        </td>
                        <td>
                            <input type="text" name="drug" class="input w3-input w3-border w3-round-large" placeholder="نام دارو">
                        </td>
                        <td>
                            <input type="text" name="price" class="input w3-input w3-border w3-round-large" placeholder="قیمت">
                        </td>
                    </tr>
                    <tr>
                        <td>تزریقات</td>
                        <td>
                            <input type="text" class="input w3-input w3-border w3-round-large"
                                name="shot" placeholder="تعرفه">
                        </td>
                        <td>
                            <input type="text" name="drug" class="input w3-input w3-border w3-round-large" placeholder="نام دارو">
                        </td>
                        <td>
                            <input type="text" name="price" class="input w3-input w3-border w3-round-large" placeholder="قیمت">
                        </td>
                    </tr>
                    <tr>
                        <td>داروخانه</td>
                        <td>
                            <input type="text" class="input w3-input w3-border w3-round-large"
                                name="drugstore" placeholder="تعرفه">
                        </td>
                        <td>
                            <input type="text" name="drug" class="input w3-input w3-border w3-round-large" placeholder="نام دارو">
                        </td>
                        <td>
                            <input type="text" name="price" class="input w3-input w3-border w3-round-large" placeholder="قیمت">
                        </td>
                    </tr>
                    <tr>
                        <td>رادیولوژی</td>
                        <td>
                            <input type="text" class="input w3-input w3-border w3-round-large"
                                name="radiology" placeholder="تعرفه">
                        </td>
                        <td>
                            <input type="text" name="drug" class="input w3-input w3-border w3-round-large" placeholder="نام دارو">
                        </td>
                        <td>
                            <input type="text" name="price" class="input w3-input w3-border w3-round-large" placeholder="قیمت">
                        </td>
                    </tr>
                    <tr>
                        <td >سونوگرافی</td>
                        <td>
                            <input type="text" class="input w3-input w3-border w3-round-large"
                                name="sonography" placeholder="تعرفه">
                        </td>
                        <td>
                            <input type="text" name="drug" class="input w3-input w3-border w3-round-large" placeholder="نام دارو">
                        </td>
                        <td>
                            <input type="text" name="price" class="input w3-input w3-border w3-round-large" placeholder="قیمت">
                        </td>
                    </tr>
                    <tr>
                        <td >جرمگیری</td>
                        <td>
                            <input type="text" class="input w3-input w3-border w3-round-large"
                                name="plaque" placeholder="تعرفه">
                        </td>
                        <td>
                            <input type="text" name="drug" class="input w3-input w3-border w3-round-large" placeholder="نام دارو">
                        </td>
                        <td>
                            <input type="text" name="price" class="input w3-input w3-border w3-round-large" placeholder="قیمت">
                        </td>
                    </tr>
                    <tr>
                        <td >پانسیون</td>
                        <td>
                            <input type="text" class="input w3-input w3-border w3-round-large"
                                name="pension" placeholder="تعرفه">
                        </td>
                    </tr>
                    <tr>
                        <td >تست اختصاصی</td>
                        <td>
                            <input type="text" class="input w3-input w3-border w3-round-large"
                                name="spTest" placeholder="تعرفه">
                        </td>
                    </tr>
                    <tr>
                        <td >اصلاح</td>
                        <td>
                            <input type="text" class="input w3-input w3-border w3-round-large"
                                name="shave" placeholder="تعرفه">
                        </td>
                    </tr>
                    <tr>
                        <td >آندوسکوپی</td>
                        <td>
                            <input type="text" class="input w3-input w3-border w3-round-large"
                                name="endoscopy" placeholder="تعرفه">
                        </td>
                    </tr>
                    <tr>
                        <td >متفرقه</td>
                        <td>
                            <input type="text" class="input w3-input w3-border w3-round-large"
                                name="odd" placeholder="تعرفه">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </main>
    <footer></footer>

    <script type="text/javascript">

        var socket = io('http://192.168.1.108:3001')

        socket.on('connection')

        socket.on('sendDr', (data)=>{
            //alert(data)
            document.getElementById('fname').value = data.name
        })

        $(document).ready(()=>{
            $('#lastCaseNum').click(()=>{
                $.ajax({
                    type: "POST",
                    url: 'http://192.168.1.108:3001/doctor/lastCaseNum',
                    dataType: "json",
                    success: (res, status)=>{
                        alert(res.lastCaseNum)
                    }

                })
            })

            $('#next_date').persianDatepicker({formatDate: "YYYY/MM/DD"})
        })

    </script>
</body>

</html>