<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdn.socket.io/3.0.5/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!--<script src="https://unpkg.com/jalali-moment/dist/jalali-moment.browser.js"></script>-->
    <script src="../js/main.js"></script>
    <script src="../js/home.js"></script>
    <title>Dr Salmani</title>
</head>

<body>

    <header class="centered" style="width: 70%;">
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            فردا نوبت فلانی است
        </div>
    </header>

    <main class="centered">

        <div class="topnav">
            <a class="active" href="home">ثبت پرونده</a>
            <a href="cases">پرونده ها</a>
            <a href="petshop" target="_blank">پت شاپ</a>
        </div>


        <form autocomplete="off" action="/home" method="post" class="w3-container w3-card-4 w3-light-grey"
            id="case_form">
            <div id="new_case">
                <table>
                    <tr>
                        <td>
                            <button type="button" class="w3-button w3-round-large w3-green btn-new-case"
                                onclick="new_case()">پرونده ی
                                جدید</button>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="cases">
                <table>
                    <tr>
                        <td>شماره پرونده:</td>
                        <td id="case_number"></td>
                        <td style="padding-right: 5px;" onclick="close_case()"><i style='font-size:14px'
                                class='fas'>&#xf00d;</i></td>
                    </tr>
                </table>
            </div>

            <div class="info">
                <table>
                    <tr>
                        <td>
                            <label for="fname" class="label">نام و نام خانوادگی:</label>
                        </td>
                        <td class="td-input">
                            <input type="text" id="fname" name="fname" class="input w3-input w3-border w3-round-large"
                                placeholder="نام و نام خانوادگی">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="pet_type" class="label">نوع حیوان:</label>
                        </td>
                        <td class="autocomplete">
                            <div class="autocomplete">
                                <input type="text" id="pet_type" class="input w3-input w3-border w3-round-large"
                                    name="pet_type" placeholder="نوع حیوان">
                            </div>
                        </td>
                        <td>
                            <label for="age" class="label">سن:</label>
                        </td>
                        <td class="td-input">
                            <input type="text" class="input w3-input w3-border w3-round-large" id="age" name="age"
                                placeholder="سن">
                        </td>
                        <td>
                            <label for="gender" class="label">جنس:</label>
                        </td>
                        <td>
                            <label for="male">نر</label>
                            <input type="radio" name="gender" id="male" value="نر" class="w3-radio">
                        </td>
                        <td>
                            <label for="female">ماده</label>
                            <input type="radio" name="gender" id="female" value="ماده" class="w3-radio">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="address" class="label">آدرس:</label>
                        </td>
                        <td>
                            <input type="text" class="input w3-input w3-border w3-round-large" id="address"
                                name="address" placeholder="آدرس">
                        </td>
                        <td>
                            <label for="tel" class="label">شماره تلفن:</label>
                        </td>
                        <td>
                            <input type="text" class="input w3-input w3-border w3-round-large" id="tel" name="tel"
                                placeholder="شماره تلفن">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="history" class="label">تاریخچه:</label>
                        </td>
                        <td>
                            <input class="input w3-input w3-border w3-round-large" id="history" name="history"
                                placeholder="تاریخچه">
                        </td>
                        <td>
                            <label for="case" class="label">شکایت اصلی:</label>
                        </td>
                        <td>
                            <input type="text" class="input w3-input w3-border w3-round-large" id="case" name="case"
                                placeholder="شکایت اصلی">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="ثبت و ارسال"
                                class="w3-button w3-teal w3-round-large w3-hover-blue" id="submit">
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </main>
    <footer></footer>

    <script>
        autocomplete(document.getElementById("pet_type"), pet);
    </script>
</body>

</html>